set envelope_from=yes
set pager_context=1
set pager_index_lines=6
set menu_scroll
set status_on_top
set sort=threads
set edit_headers=yes
set send_charset=us-ascii:iso-8859-1:utf-8
set charset="utf-8"
auto_view text/html

set delete=yes
set include=yes
set fast_reply=yes
set beep=no
set confirmappend=no

ignore *
unignore Date To From: Subject Organization
hdr_order Date From: To Organization Subject

save-hook .* =reference
bind pager h display-toggle-weed

# vim:filetype=muttrc
