set record="=Sent"
set postponed="=Drafts"
set copy=yes
# activate TLS if available on the server
set ssl_starttls=yes
# Don't wait to enter mailbox manually
unset imap_passive
# Automatically poll subscribed mailboxes for new mail (new in 1.5.11)
set imap_check_subscribed
# Reduce polling frequency to a sane level
set mail_check=60
# And poll the current mailbox more often (not needed with IDLE in post 1.5.11)
set timeout=10
# keep a cache of headers for faster loading (1.5.9+?)
set header_cache=~/.cache/mutt.hcache
# Display download progress every 5K
set net_inc=5

# vim:filetype=muttrc
