[user]
	name = Keith Gaughan
	email = k@stereochro.me
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = cyan
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "grep"]
	filename = bold green
	match = black yellow
[alias]
	ci = commit
	co = checkout
	df = diff
	br = branch
	st = status -sb
	ready = rebase -i @{u}
	purr = pull --rebase
	last = log -1 --stat
	cp = cherry-pick
	cl = clone
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	uncommit = !"f () { git reset --soft \"HEAD~${1:-1}\"; }; f"
	aggressive = !"f () { git fsck --unreachable; git reflog expire --expire=0 --all; git repack -a -d -l; git prune; git gc --aggressive; }; f"
	pull-all = !"git pull --recurse-submodules --rebase && git submodule update --init --recursive"
	rebase-against-master = !"git checkout master && git pull --rebase && git checkout @{-1} && git rebase master"
	rebase-against-root = !"git rebase -i $(git merge-base --all master HEAD)"
	merge-into-master = !"git checkout master && git merge @{-1}"
	diff-master = diff -D master...
	sync-submodules = submodule update --init --recursive
	show-last = log -n 1 -p
	# List remote branches
	lrb = !"f () { git ls-remote --heads \"${1:-origin}\"; }; f"
	make-patch = !"git --no-pager diff --no-prefix"
	purge-merged = !"f () { git remote prune origin; git branch --merged | grep -Ev '(^\\*|\\<master\\>|\\<main\\>)' | xargs git branch -d; }; f"
	purge-gone = !"git branch -v | grep -F ' [gone] ' | cut -f3 -d' ' | xargs git branch -D"
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = master
[advice]
	skippedCherryPicks = false
[merge]
	tool = meld
	conflictstyle = diff3
	ff = only
	renamelimit = 4000
[mergetool]
	prompt = false
	keeptemporaries = false
	keepbackups = false
[diff]
	tool = meld
	algorithm = histogram
	renames = copies
	colorMoved = dimmed_zebra
[difftool]
	prompt = false
[http]
	sslVerify = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	trustctime = false
	editor = vim
	pager = less -F
	autocrlf = input
[branch]
	autoSetupMerge = always
[rebase]
	autoStash = true
[rerere]
	enabled = true
[status]
	showStash = true
	showUntrackedFiles = all
	submoduleSummary = true
[fetch]
	prune = true
	pruneTags = true
[pull]
	ff = only

; https://github.com/dandavison/delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[url "git@github.com:"]
	insteadOf = https://github.com/

[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/code/gerrit/"]
	path = ~/.gitconfig.gerrit
[includeIf "gitdir:~/code/personal/"]
	path = ~/.gitconfig.personal
[includeIf "gitdir:~/code/dotfiles/"]
	path = ~/.gitconfig.personal
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
