# For when I'm stuck needing nano somewhere.
set autoindent
set tabstospaces
set constantshow
set linenumbers
set multibuffer
set smarthome
set indicator
set afterends    # ^right moves to the ends of words
set tabsize 4
set numbercolor yellow,normal
set scrollercolor grey,normal
set zap
set historylog
set minibar
set nohelp

# Copied from:
# https://github.com/davidhcefx/Modern-Nano-Keybindings

bind ^Q     exit            all
bind ^W     writeout        main
bind ^Z     suspend         main
bind M-R    redo            main
bind ^C     copy            main
bind ^V     paste           main
bind ^X     cut             main
bind ^K     zap             main
bind ^H     chopwordleft    all
bind M-/    comment         main
bind ^Space complete        main

bind M-C    location        main
bind ^E     wherewas        all
bind M-E    findprevious    all
bind ^R     replace         main
bind ^_     gotoline        main
bind ^G     firstline       all
bind M-G    lastline        all
bind ^B     pageup          all
bind ^F     pagedown        all

bind M-1    help            all
bind Sh-M-C constantshow    main
bind Sh-M-B linter          main
