# Based on: http://blog.sanctum.geek.nz/linux-crypto-email/

set crypt_use_gpgme=yes

# Sign replies to signed mail
set crypt_replysign=yes
# Encrypt replies to encrypted mail
set crypt_replyencrypt=yes
# Encrypt and sign replies to encrypted and signed email
set crypt_replysignencrypted=yes
# Attempt ot verify email signatures automatically
set crypt_verify_sig=yes

# Autmatically sign all outgoing mail
set crypt_autosign=yes

# vim:filetype=muttrc
