<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="system-menu" label="System">
    <item label="Openbox Configuration Manager">
      <action name="Execute">
        <command>obconf</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Manage Cups Printers">
      <action name="Execute">
        <command>xdg-open http://localhost:631/</command>
        <startupnotify>
          <enabled>no</enabled>
          <icon>cups</icon>
        </startupnotify>
      </action>
    </item>
    <separator/>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure"/>
    </item>
  </menu>
  <menu id="root-menu" label="Openbox 3">
    <item label="Xterm">
      <action name="Execute">
        <command>xterm</command>
      </action>
    </item>
    <item label="Diffuse">
      <action name="Execute">
        <command>diffuse</command>
      </action>
    </item>
    <item label="Comix">
      <action name="Execute">
        <command>comix</command>
      </action>
    </item>
    <item label="Firefox">
      <action name="Execute">
        <command>firefox</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>Firefox</wmclass>
        </startupnotify>
      </action>
    </item>
    <item label="ROX Filer">
      <action name="Execute">
        <command>rox</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>ROX-Filer</wmclass>
        </startupnotify>
      </action>
    </item>
    <item label="ePDFView">
      <action name="Execute">
        <command>epdfview</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <separator/>
    <menu id="system-menu"/>
    <menu id="wallpaper" label="Wallpaper" execute="set-wallpaper ~/documents/graphics/wallpapers"/>
    <separator/>
    <item label="Log Out">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
  </menu>
</openbox_menu>
